html{
    scroll-behavior: smooth;
}

body {
    background-color: #2d4059;
    font-family: "Baloo Tamma 2", cursive;
}

li {
    font-size: 1.5rem;
}
#home {
    padding-top: 50px;
    padding-left: 25px;
    height: 100vh;
    background-color: #2d4059;
}

#About-Pane {
    height: 100vh;
    background-color: #ea5455;
}

#projects-pane {
   height: 100vh;
   background-color:  #decdc3;
}

#Contact-Pane {
    height: 100vh;
    background-color: #e5e5e5;
}

#Resume-pane {
    height: 100vh;
    padding-top: 50px;
    background-color: #583d72;
}

#navigation {
    position: sticky;
    top: 0;
    z-index: 100;
}

#home-image {
    width: 1000px;
    height: 600px;
}


.m-heading {
    font-family: "Roboto Slab", serif;
}

.navigation-link {
    border: 2px solid transparent;
}


.main-container {
    min-height: 100vh;
}

.main-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_row {
    font-size: 5rem;
}


.main-row:img {
    width: auto;
    height: 100%;
}

#about {
    padding-top: 80px;
    height: 100%;
    border-radius: 15px;
}

#projects {
    padding-top: 50px;
    padding-bottom: 100px;
}

#Contact {
  padding-top: 100px;  
  height: 100vh;
  background: #2a265f;
}

#Resume {
    padding-top: 100px;
}

.media_link{
    padding: 10px;
    max-width: 15rem;
    margin-left:1rem;
    border-radius: 5px;
}

.navbar.scrolled {
    background-color:  #ea5455;
    transition: background 800ms;
    color: aqua;
}


.navbar.scrolled2 {
    background-color: #decdc3;
    transition: background 800ms;
}

.navbar.scrolled3 {
    background-color: #2a265f;
    transition: background 800ms;
}

.navbar.scrolled4 {
    background-color: #2d4059;
    transition: background 800ms;
}

